# This File is meant to get all the statistics of the data that we have

In [1]:
import pandas as pd
import os

In [15]:
file_path = os.getcwd()

print(file_path+"/Data Dump")
tmdb_data = pd.read_csv(f"{file_path}/Data Dump/final_cleaned_tmdb_data.csv")
flixster_data = pd.read_csv(f"{file_path}/Data Dump/flixster_data.csv")

/Users/haydenang/Desktop/Term 6 NTU/Info Retrieval/Project folder/CE-CZ4034-Information-Retrieval-Group-Project/Data Dump

In [32]:
def get_word_stats(reviews):
    total_words=0
    unique_words=0
    for review in reviews:
        total_words += len(review.split())
        unique_words += len(set(review.split()))
    return total_words,unique_words

In [39]:
print(tmdb_data.shape)
print(flixster_data.shape)
resulting_df = pd.concat([tmdb_data,flixster_data])
resulting_df.head()

(9887, 10)
(611, 10)

,Unnamed: 0,Movie Name,Movie Id,Review Content,tmdb Rating,User Rating,Genre(s),Not A Movie?,Release Date,Production Company,flixter Rating
0,0,Shadows in Paradise,3.0,"Released in 1986, Aki Kaurismaki's <i>Varjoja ...",7.184,7.0,"Drama,Comedy,Romance",False,1986-10-17,Villealfa Filmproductions,NaN
1,1,American Beauty,14.0,The film American Beauty to me is a film about...,8.030,10.0,Drama,False,1999-09-15,Jinks/Cohen Company,NaN
2,2,Citizen Kane,15.0,"""The Greatest Movie of All Time!"" That's the g...",8.023,9.0,"Mystery,Drama",False,1941-04-17,Mercury Productions,NaN
3,3,Dancer in the Dark,16.0,Dazzling Björk in this indictment against the ...,7.889,10.0,"Drama,Crime",False,2000-06-30,Lantia Cinema & Audiovisivi,NaN
4,4,The Fifth Element,18.0,This movie is one of the best movies of all ti...,7.524,9.5,"Adventure,Fantasy,Action,Thriller,Science Fiction",False,1997-05-02,Gaumont,NaN

In [33]:
total_words,unique_words = get_word_stats(resulting_df['Review Content'].tolist())

In [36]:
print(f"Total Number of Words: {total_words}")
print(f"Total Unique Words: {unique_words}")

Total Number of Words: 2477654
Total Unique Words: 1636831

In [46]:
print(f"Bad Reviews for flixster: {len(flixster_data[flixster_data['User Rating']<flixster_data['flixter Rating']])}") #number of bad_reviews = 484
print(f"Good Reviews for flixster: {len(flixster_data[flixster_data['User Rating']>=flixster_data['flixter Rating']])}") #number of good_reviews = 127
print(f"Bad Reviews for tmdb: {len(tmdb_data[tmdb_data['User Rating']<tmdb_data['tmdb Rating']])}") #number of bad_reviews = 3947
print(f"Good Reviews for tmdb: {len(tmdb_data[tmdb_data['User Rating']>=tmdb_data['tmdb Rating']])}") #number of good_reviews = 5940

Bad Reviews for flixster: 484
Good Reviews for flixster: 127
Bad Reviews for tmdb: 3947
Good Reviews for tmdb: 5940